.layout {
    display: flex;
    flex-direction: column;
    font-family: @font-family;

    &__header {
        flex: 0 0 9%;
        align-items: center;
    }

    &__main {
        flex: 1;
        width: 600px;
        align-self: center;
        margin-top: 20px;
    }

    &__footer {
        flex: 0 0 5%;
        background-color: @footer;
    }
}